<div class="container text-center">
  <h1>All Cocktails</h1>

  <%= link_to 'Add a cocktail', new_cocktail_path,class: 'btn btn-info' %>

  <%# @cocktails.each do |cocktail| %>
    <%#= render 'cocktail', cocktail: cocktail %>
  <%# end %>
  <%= render @cocktails %>
</div>
